body.route-welcome { background: $white; }
#idprogresspanel {
	background: $brand-primary;
	color: $white;
	position: relative;
	top: -22px;
	padding-top: 2px;
	padding-bottom: 25px;
	h5 { margin-top: 0; }
}