/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Buttons  */
/*--------------------------------------------------------------------------------------*/
.btn-secondary { @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border); }

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Branding  */
/*--------------------------------------------------------------------------------------*/
#branding {
	background: $white;
	color: $brand-primary;	
	img { margin-right: 5px; }
	.row > div {
		padding-top: 12px;
		padding-bottom: 12px;
		font-size: $font-size-5;
	}
}

#affiliates {
	display: table;
	> div {
		display: table-cell;
		vertical-align: middle;
		&:first-child { width: 21%; }
		&:last-child { 
			width: 38%;
			img {
				margin-right: 0;
				margin-left: auto;
			}
		}
	}
}

h1.edu:before {
	content: ' ';
	background: url("/images/edu.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 45px;
	height: 45px;
	display: inline-block;
	margin-right: 6px;
	position: relative;
	top: 12px;
}

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Panels  */
/*--------------------------------------------------------------------------------------*/
#idprogresspanel, #idprogresspanel-alt,
#quizcategoriespanel {
	background: $brand-primary;
	color: $white;
	padding-bottom: 0px;
	h5 { margin-top: 0; }
	&.alt {
		padding: 20px 0;
		background: lighten( $brand-primary, 7.5% );
		h3, ul, li { margin: 0; }
		h3 {
			@media screen and ( min-width: 520px ) {
				float: left;
			}
		}
		ul {
			@media screen and ( max-width: 519px ) {
				text-align: left;
			}
			li {
				width: auto;
				margin-right: 18px;
				max-width: none;
				@media screen and ( max-width: 519px ) {
					margin-top: 12px;
					margin-bottom: 6px;
				}
				*:last-child {
					margin-right: 0;
				}
				&:hover, &.active {		
					a {
						position: relative;
						&:after {
							content: ' ';
							position: absolute;
							display: block;
							width: 100%;
							bottom: -7px;
							left: 0;
							height: 3px;
							background: $white;
						}
					}
				}
			}
		}
		li.active {
			font-weight: normal;
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			transform: none;
		}
	}
}

#idprogresspanel-alt {
	z-index: 1;
	width: 320px;
    padding-top: 4px;
    position: fixed;
    top: 76px;
    height: calc(100% - 128px);
    left: calc(50% - 570px);
    padding-left: 15px;
    padding-right: 15px;
	ul {
		margin-top: 24px;
		list-style: none;
		padding-left: 0;
		border-top: 1px solid rgba(255,255,255,0.35);
		li {	
			border-bottom: 1px solid rgba(255,255,255,0.35);
			&:last-child { border-bottom: 0; }
			a {
				color: $white;
				text-decoration: none;
				letter-spacing: 1px;
				font-size: 1.05em;
				display: block;
				padding: 15px 10px;
				color: darken( $white, 5% );
				i {
					width: 30px;
					text-align: center;
					border: 1px solid;
					border-radius: 11px;
					height: 30px;
					padding-top: 6px;
					margin-right: 13px;
				}
			}
			&.active {
				a {
					color: $white;
					font-weight: bold;
				}
			}
		}
	}
}
.back-to-topics {
	color: $white;
    margin-top: 10px;
	display: inline-block;
	&:hover {
		color: $white;
	}
}
/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Frame for desktop  */
/*--------------------------------------------------------------------------------------*/
@media screen and ( min-width: $screen-sm ) {
	#frame-desktop {
		&:before, &:after {
			content: ' ';
			position: fixed;
			top: 0;
			height: 100%;
			background: rgba(255,255,255,0.3);			
			z-index: 100;
		}
		&:after {
			right: 0;
			left: calc(50% + 586px);
		}
		&:before {
			left: 0;
			right: calc(50% + 586px);
		}
	}
}
@media screen and ( min-width: $screen-sm ) {
	#frame-desktop {
		&:after { left: calc(50% + 375px); }
		&:before { right: calc(50% + 375px); }
	}
}
@media screen and ( min-width: $screen-md ) {
	#frame-desktop {
		&:after { left: calc(50% + 485px); }
		&:before { right: calc(50% + 485px); }
	}
}
@media screen and ( min-width: $screen-lg ) {
	#frame-desktop {
		&:after { left: calc(50% + 585px); }
		&:before { right: calc(50% + 585px); }
	}
}

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Backgrounds  */
/*--------------------------------------------------------------------------------------*/
.pattern-title {
	@extend .bg-pattern;
	border-bottom: 1px solid $gray;
	h1 {
		margin: 14px 0;
	}
}

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Quizzess  */
/*--------------------------------------------------------------------------------------*/
#quiz-single,
#page.dolikeedu {
	padding-bottom: 30px;
	.question {
		margin-top: 26px;
		img {
			max-width: 100%;
			margin: 12px 0;
		}
	}
	.inner.dolikeedu, .challenge {
		margin-top: 26px;
		input {
			&[type="radio"] {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;			
			}
			&[type="submit"] {
				margin-top: 20px;
				@extend .btn;
				@extend .btn-primary;
				@extend .btn-block;	
				font-size: 1.2em;
				padding: 12px;			
			}
		}
		label {
			cursor: pointer;
			display: block;
			border: 1px solid #ccc;
			border-bottom: 0;
			padding: 14px;
			margin-bottom: 0;
			&:last-of-type {
				border-bottom: 1px solid #ccc;
			}
			&:hover:not(.incorrect):not(.correct), 
			&.active:not(.incorrect):not(.correct) {
				font-weight: bold;
				border-left-width: 3px;
				border-right-width: 3px;
			}
			&.incorrect {
				@extend .color-info-fill;
			}
			&.correct {
				@extend .color-success-fill;
			}
		}
		br { display: none; }
	}
	.attempts { text-align: center; }
	.blocked-points {
		color: $brand-primary;
		border: 1px solid $brand-primary;
		padding: 2px 5px;
	}
}

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Modals  */
/*--------------------------------------------------------------------------------------*/
.compact-footer {
	.modal-body { padding-bottom: 0; }
	.modal-footer { padding-top: 8px; border: 0; }
}
#welcomeModal {
	.message {
		padding: 12px 15px 4px;
		border-radius: 4px;
		position: relative;
		&:after {
			position: absolute;
			content: ' ';
			left: 60px;
			bottom: -16px;
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 16px 16px 0 0;
		}
	}
	.modal-footer {
		text-align: right;
		figure {
			float: left;
			border-radius: 50%;
			border: 1px solid #ccc;
			width: 60px;
			img { width: 100%; }
		}
		button {
			float: left;
			margin: 8px 0 0 15px;

		}
	}
}