/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Spacing  */
/*--------------------------------------------------------------------------------------*/
$min-space: 5px;
$single-px: 1px;
$alert-loop-space: 65px;

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Color Hues  */
/*--------------------------------------------------------------------------------------*/
$white: #fff;
$black: #000;
$gray-0: #d8d8d9;

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Color Aliases  */
/*--------------------------------------------------------------------------------------*/
$app-bg : #f2f3f7;
$gray: $gray-0;

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Color Themes  */
/*--------------------------------------------------------------------------------------*/

$themes: (
		'level-1'			
		#2a919b
		blue
		"underline"
	,
		'level-2'
		green
		orange
		"background"
);