/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Font Sizes  */
/*--------------------------------------------------------------------------------------*/
$font-size-1: 0.933em;	// 14dp // 14px
$font-size-2: 1em;		// 15dp // 15px
$font-size-3: 1.2em;	// 18dp // 18px
$font-size-4: 1.267em;	// 19dp // 19px
$font-size-5: 1.667em;	// 25dp // 25px
 
/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Spacing  */
/*--------------------------------------------------------------------------------------*/
$min-space: 5px;
$single-px: 1px;
$alert-loop-space: 65px;

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Color Hues  */
/*--------------------------------------------------------------------------------------*/
$white: #fff;
$black: #000;
$gray-0: #d8d8d9;

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Color Aliases  */
/*--------------------------------------------------------------------------------------*/
$app-bg : #f2f3f7;
$gray: $gray-0;

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Color Themes  */
/*--------------------------------------------------------------------------------------*/

$themes: (
		'level-1'			
		#2a919b
		#47B1B6
		#ffffff
		#d7de5c
		#1c6468
		#565d67
		#979fa5
		#fc636b
		"background"
	,
		'level-2'
		#2a919b
		#47B1B6
		#ffffff
		#d7de5c
		#1c6468
		#565d67
		#979fa5
		#fc636b
		"background"
);