/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Font Sizes  */
/*--------------------------------------------------------------------------------------*/
$font-size-1: 0.933em;	// 14dp // 14px
$font-size-2: 1em;		// 15dp // 15px
$font-size-3: 1.2em;	// 18dp // 18px
$font-size-4: 1.267em;	// 19dp // 19px
$font-size-5: 1.667em;	// 25dp // 25px
 
/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Spacing  */
/*--------------------------------------------------------------------------------------*/
$min-space: 5px;
$single-px: 1px;
$alert-loop-space: 65px;

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Color Hues  */
/*--------------------------------------------------------------------------------------*/
$white: #fff;
$black: #000;
$gray-0: #d8d8d9;

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Color Aliases  */
/*--------------------------------------------------------------------------------------*/
$gray: $gray-0;
$body-text: #565d67;
$input: #969ea4;

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Color Themes  */
/*--------------------------------------------------------------------------------------*/

$themes: (
		'level-1' // level name			
		#2a919b // primary
		#47B1B6 // secondary
		#ffffff // background
		#d7de5c // accent
		#1c6468 // footer
		#565d67 // body text
		#979fa5 // input
		#fc636b // buttons
		"style-a" // style
		"circular"
	,
		'level-2' // level name			
		#9B076D // primary
		#B70887 // secondary
		#ffffff // background
		#EFA511 // accent
		#68034c // footer
		#651228 // body text
		#969EA4 // input
		#FC636B // buttons
		"style-a" // style
		"circular"
	,
		'level-3'
		#565D67
		#969EA4
		#ffffff
		#FC636B
		#FC636B
		#565d67
		#969EA4
		#fc636b
		"style-a"
		"circular"
	,
		'level-4'
		#0288D1
		#B3E5FC
		#757575
		#D7DE5C
		#0288D1
		#565D67
		#969EA4
		#fc636b
		"style-b"
		"circular"
);