/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Body  */
/*--------------------------------------------------------------------------------------*/
body { background: $app-bg; }

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Anchors  */
/*--------------------------------------------------------------------------------------*/
a:not(.btn) { text-decoration: underline; }
.navbar-nav li,
#footer-wrapper li,
#branding {
	a { text-decoration: none; }
}

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Lists  */
/*--------------------------------------------------------------------------------------*/
.list {
	padding-left: 0;
	list-style: none;
	li { display: block; }
	&.quiz-list {
		td {
			&:first-child {
				max-width: 52px;
				figure {
					background: $white;
					border-radius: 12px;
					padding: 9px;
					margin-bottom: 14px;
				}				
			}
			&:last-child {				
				position: relative;
				top: -6px;
				div { padding-left: 20px; }
				a {
					color: inherit;
					text-decoration: none;
				}
			}
		}
	}
}

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Alerts  */
/*--------------------------------------------------------------------------------------*/
.alert {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: fixed;
    top: 43px;
    right: 40px;
    z-index: 99;
	-webkit-box-shadow: 1px 1px 20px 2px rgba(1,1,1,0.1);
	box-shadow: 1px 1px 20px 2px rgba(1,1,1,0.1);	
	+ .alert {		
		@for $i from 0 through 10 {
			&:nth-child(#{$i}) {
				margin-top: $i * $alert-loop-space - 65;
			}
		}
	}
}