// Body

body { background: $app-bg; }

// Anchors

a:not(.btn) { text-decoration: underline; }
.navbar-nav li a,
#footer-wrapper li a,
#branding a { text-decoration: none; }

// Buttons

.btn { margin-bottom: $min-space * 2; }

// Form

.input-control {
	border-radius: 9px;
	border: $white;
	box-shadow: none;
	color: #000;
}

input.form-control { @extend .input-control; }
.intl-tel-input { display: block !important; }

.select2-container--default {
	.select2-selection--single {
		@extend .input-control;
		height: 34px;
		.select2-selection__rendered { line-height: 33px; }
		.select2-selection__arrow b { top: calc(50% + 3px); }
	}
}
.select2-dropdown {
	border: 0;		
	&.select2-dropdown--below {
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		padding-bottom: 13px;
	}
	&.select2-dropdown--above {
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		padding-top: 13px;
	}
}

// Branding
#branding {
	background: $white;
	color: $brand-primary;
	img { margin-right: 5px; }
}

// Navigation
.navbar-nav {
	margin: 0;
	li { display: inline-block; }	
}
nav {
	&.navbar {
		border: 0;
		li {
			margin: 4px 0;
			position: relative;
			a {
				padding: 6px 4px;
				@media screen and ( min-width: $screen-xs ) {
					padding: 6px;
				}
			}
			&.active {
				&:after {
					position: absolute;
					bottom: 0px;
					left: 6px;
					content: ' ';
					display: block;
					height: 3px;
					background: $brand-primary;
					width: calc(100% - 12px);					
				}
			}
			&:first-child {
				&.active {
					&:after {
						left: 0;
						width: calc(100% - 6px);
					}
				}
				a {
					padding-left: 0;
				}
			}
		}
	}
}

// Footer
#footer-wrapper {
	background: $brand-secondary;
	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		padding: 14px 0 18px;
		li {
			display: inline-block;
			position: relative;
			a {
				color: $white;		
				&:after {
					width: 1px;
					height: 15px;
					background: $white;
					display: inline-block;
					content: ' ';
					position: relative;
					top: 3px;
					margin: 0px 5px 0px 9px;
				}
			}			
			&.active {
				&:after {
					position: absolute;
					bottom: -6px;
					left: 0px;
					content: ' ';
					display: block;
					height: 2px;
					background: $white;
					width: calc(100% - 15px);
				}
			}
			&:last-child {
				a {
					&:after {
						content: none;
					}
				}
			}
		}
	}
}

// Lists

.list {
	padding-left: 0;
	list-style: none;
	li {
		display: block;
	}
	&.quiz-list {
		td {
			&:first-child {
				max-width: 52px;
				figure {
					background: $white;
					border-radius: 12px;
					padding: 9px;
					margin-bottom: 14px;
				}				
			}
			&:last-child {				
				position: relative;
				top: -6px;
				div { padding-left: 20px; }
				a {
					color: inherit;
					text-decoration: none;
				}
			}
		}
	}
}