/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Navigation  */
/*--------------------------------------------------------------------------------------*/
.navbar-nav {
	margin: 0;
	li { display: inline-block; }	
}
nav {
	&.navbar {
		border: 0;
		li {
			margin: 4px 0;
			position: relative;
			a {
				padding: 6px 4px;
				@media screen and ( min-width: $screen-xs ) {
					padding: 6px;
				}
			}
			&.active {
				&:after {
					position: absolute;
					bottom: 0px;
					left: 6px;
					content: ' ';
					display: block;
					height: 3px;
					background: $brand-primary;
					width: calc(100% - 12px);					
				}
			}
			&:first-child {
				a { padding-left: 0; }
				&.active {
					&:after {
						left: 0;
						width: calc(100% - 6px);
					}
				}				
			}
		}
	}
}

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Footer  */
/*--------------------------------------------------------------------------------------*/
#footer-wrapper {
	background: $brand-secondary;
	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		padding: 14px 0 18px;
		li {
			display: inline-block;
			position: relative;
			a {
				color: $white;		
				&:after {
					width: 1px;
					height: 15px;
					background: $white;
					display: inline-block;
					content: ' ';
					position: relative;
					top: 3px;
					margin: 0px 5px 0px 9px;
				}
			}			
			&.active {
				&:after {
					position: absolute;
					bottom: -6px;
					left: 0px;
					content: ' ';
					display: block;
					height: 2px;
					background: $white;
					width: calc(100% - 15px);
				}
			}
			&:last-child {
				a {
					&:after {
						content: none;
					}
				}
			}
		}
	}
	&.sticky {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}
}