body {
	@each $theme in $themes {
		&.#{nth( $theme, 1 )} {

			/*----------------------------------------ARDCOZA---------------------------------------*/
			/*      Variables here  */
			/*--------------------------------------------------------------------------------------*/

			$color-primary: nth( $theme, 2 );
			$color-secondary: nth( $theme, 3 );
			$color-background: nth( $theme, 4 );
			$color-accent: nth( $theme, 5 );
			$color-footer: nth( $theme, 6 );
			$color-body-text: nth( $theme, 7 );
			$color-input: nth( $theme, 8 );
			$color-buttons: nth( $theme, 9 );
			$hover-state: nth( $theme, 10 );
			$pattern: nth( $theme, 11 );		

			/*----------------------------------------ARDCOZA---------------------------------------*/
			/*      Styles here  */
			/*--------------------------------------------------------------------------------------*/

			@if $pattern == "circular" {
				.bg-pattern {
					background-image: url("/images/circular-temp.svg");
					background-size: cover;
				}
			}

			@if $hover-state == "style-a" {
				/*----------------------------------------ARDCOZA---------------------------------------*/
				/*      Style A here  */
				/*--------------------------------------------------------------------------------------*/
				.navbar-default {
					background: $color-secondary;
					a {
						color: $color-background;
						&:hover, &:focus {
							color: $color-primary;
							background: $color-accent;
						}
					}									
					.active {						
						a, a:hover, a:focus {
							color: $color-primary;							
							background: $color-accent;
						}
					}
				}
				
				h1 { color: $color-accent; }
	
				#idprogresspanel,
				#idprogresspanel-alt,
				#quizcategoriespanel,
				#quizinfopanel { background: $color-primary; }
				#quizcategoriespanel.alt { background: lighten( $color-primary, 7.5% ); }
			}
			@else if $hover-state = "style-b" {				
				/*----------------------------------------ARDCOZA---------------------------------------*/
				/*      Style B here  */
				/*--------------------------------------------------------------------------------------*/
				nav.navbar {
					background: $color-secondary;
					li.active a,
					a:hover, a:focus {
						&:after {
							position: absolute;
							bottom: -4px;
							left: 0px;
							content: ' ';
							display: block;
							height: 4px;
							background: $color-accent;
							width: 100%;
						}
					}
				}
				#idprogresspanel,
				#idprogresspanel-alt,
				#quizcategoriespanel,
				#quizinfopanel {
					background: $color-background;
				}		
				#quizcategoriespanel.alt { background: lighten( $color-background, 7.5% ); }		
				$color-background: $white;
			}	

			/*----------------------------------------ARDCOZA---------------------------------------*/
			/*      Generic  */
			/*--------------------------------------------------------------------------------------*/

			$btn-accent-color:				 $color-primary !default;
			$btn-accent-bg:					 $color-accent !default;
			$btn-accent-border:				 darken($btn-accent-bg, 5%) !default;

			.btn-accent { @include button-variant($btn-accent-color, $btn-accent-bg, $btn-accent-border); }

			#quizinfopanel {
				color: $white;
				padding: 20px 0;
				a { color: $white; }
				figure {
					margin-right: 16px;
				}					
			}
			#footer-wrapper { background: $color-footer; }
			.list {
				&.earn-points {
					figure {
						border-color: $color-accent;
						i { color: $color-accent;  }
					}	
				}
				&.quiz-categories {
					li {
						figure {
							background: $color-background;
						}
						a { color: $color-background; }
						&.active {
							figure {
								border: 8px solid $color-accent;
							}
						}
					}
				}
				&.quiz-list {
					tr {							
						&:hover { background: $color-accent; }
						td {
							&:last-child { color: $color-primary; }
						}
					}
				}
				&.progress-list {
					li {
						background: $color-background;
						.progress { 
							.progress-bar {
								background: $color-accent;
							}
						}
					}
				}				
			}

			[id="page"] {
				color: $color-body-text;
				a:not(.btn), label { color: $color-primary; }
			}

			.select2-container--default .select2-selection--single .select2-selection__rendered {
				color: $color-primary;
				&[title^="select"] {
					color: $color-input;
				}
			}

			#quiz-single {
				h3, h4, label { color: $color-primary; }
			}

			/*----------------------------------------ARDCOZA---------------------------------------*/
			/*      More Components  */
			/*--------------------------------------------------------------------------------------*/

			.back-to-topics {
				color: $color-background !important;
			}

			.color-success-fill {
				@if nth( $theme, 1 ) == 'level-3' {
					color: $white !important;
					background: $color-primary;
				}
				@else {
					color: $color-primary !important;
					background: $color-accent;
				}
			}

			.color-info-fill {
				color: $white !important;
				background: $brand-accent;
			}

			#welcomeModal {
				.message {
					&:after {
						border-color: $color-primary transparent transparent transparent;			
					}
				}
			}

			/*----------------------------------------ARDCOZA---------------------------------------*/
			/*      Utility Classes  */
			/*--------------------------------------------------------------------------------------*/
			.theme-primary 			{ color: $color-primary !important; }			
			.theme-secondary 		{ color: $color-secondary !important; }			
			.theme-background 		{ color: $color-background !important; }
			.theme-accent 			{ color: $color-accent !important; }			
			.theme-footer 			{ color: $color-footer !important; }			
			.theme-body-text 		{ color: $color-body-text !important; }			
			.theme-input 			{ color: $color-input !important; }			
			.theme-buttons 			{ color: $color-buttons !important; }
			.bg-theme-buttons 		{ background: $color-buttons !important; }
			.bg-theme-primary 		{ background: $color-primary !important; }
			.bg-theme-secondary 	{ background: $color-secondary !important; }
			.bg-theme-background 	{ background: $color-background !important; }
			.bg-theme-accent 		{ background: $color-accent !important; }
			.bg-theme-footer 		{ background: $color-footer !important; }
			.bg-theme-body-text 	{ background: $color-body-text !important; }
			.bg-theme-input 		{ background: $color-input !important; }	
			
		}
	}
}

// Temporary approach
$bg: #f2f2f2;
$fg: #d8e152;
.pie-wrapper--solid {
  
	@for $i from 0 through 100 {
		&.progress-#{$i} {
			@include draw-progress--solid($i, $fg, $bg);
			@include draw-progress--solid--before($i, $fg, $bg);
		}
	}
}