body {
	@each $theme in $themes {
		&.#{nth( $theme, 1 )} {

			// Set up Variables here
			$color-1: nth( $theme, 2 );
			$color-2: nth( $theme, 3 );
			$hover-state: nth( $theme, 4 );

			// Added componemts and classes here

			#idprogresspanel {
				background: $color-1;
			}
			@if $hover-state == "background" {
				
			}
			@else if $hover-state = "underline" {
				
			}

		}
	}
}