/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Spacing  */
/*--------------------------------------------------------------------------------------*/
@for $i from 0 through 20 {
	.space-#{$i} {  
		display:block;
		height: $min-space * $i;
	}
	.mt-#{$i} { margin-top: $single-px * $i; }
	.mb-#{$i} { margin-bottom: $single-px * $i; }
}
.space { @extend .space-6; }