// Variables

$min-space: 5px;
$single-px: 1px;

// Colors

$white: #fff;
$gray-0: #d8d8d9;

// Color Variables

$app-bg : #f2f3f7;
$gray: $gray-0;

@for $i from 0 through 20 {
	.space-#{$i} {  
		display:block;
		height: $min-space * $i;
	}
	.mt-#{$i} { margin-top: $single-px * $i; }
	.mb-#{$i} { margin-bottom: $single-px * $i; }
}
.space { @extend .space-6; }