/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Colors  */
/*--------------------------------------------------------------------------------------*/
.body-text { color: $body-text; }

/*----------------------------------------ARDCOZA---------------------------------------*/
/*      Spacing  */
/*--------------------------------------------------------------------------------------*/
@for $i from 0 through 20 {
	.space-#{$i} {  
		display:block;
		height: $min-space * $i;
	}
	.mt-#{$i} { margin-top: $single-px * $i; }
	.mb-#{$i} { margin-bottom: $single-px * $i; }
	.max-width-#{$i * 50} {
		max-width: #{$i * 50}px;
		margin-left: auto;
		margin-right: auto;
	}
}
.space { @extend .space-6; }
.header-displacement { margin-top: -20px; }